#glass {
    width: 500px;
    height: 500px;
    box-shadow: black 0px 10px 20px;
    backdrop-filter: blur(10px);
    border-radius: 10px;


}
body{
    background-image: url(fotoPortada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
}

#color {
    animation-name: cambio;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes cambio {
    0% {background: #18533f;}
    50% {background: #1d6b51;}
    100% {background: #18533f;}
}