
body{

    background-color: #268f6c;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display:column;


}
header{
    height: 65px;
    background-color: #18533f;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.principal{
    background-color: #18533f;
    margin: 5% 35%;
    border-radius: 20px;
}
.box-presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

}
.box-foto{
    justify-content: center;
    align-items: center;
}
.fotoAntu{
    border-radius: 50%;
}
.box-nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color: #303030;
    padding: 5%;
    border-radius: 20px;
}
footer{
    background-color: #18533f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 25%;
}

.titulo{
    background-color: #18533f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido{
    display: flex;
    justify-content: center;
}
.red-social{
    margin: 0 10px 0 10px;
}
